{% extends 'base2.html' %}
<h1>HVAC Bidding Program</h1>
{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #e8491d;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
  <section id="showcase">
      <div class="container">
        <h1 id="main1">Elite Gun Fitting</h1>
          <h2 id="main2">and</h2>
            <h1 id="main3">Stock Work</h1>
            <h2 id="main4">by Alan Braner</h2>
          <img src='../../img/Desktop1.jpg'>
      </div>
    <div id="boxleft">I have never met anyone who shoots a shotgun who didn't want to improve their shooting performance. There are some who put all of their focus on just one thing, gun fit.
    Don't get me wrong, gun fit is very important in our journey to reach our highest potential but it is only one piece of the puzzle!
    Here at Elite Gun Fitting, I will go over and explain the importance of every piece until you understand the whole picture. It doesn't matter what discipline you shoot, trap, five stand, sporting clays,
      FITASC, or upland game birds, all the pieces are the same. Then you learn, understand, and master all the pieces, then you will have reached your highesst potential!</div>

    <div id="boxright">I have been in the gun stock business for 15 years. Over those years, I have developed a program to obtain the perfect gun fit that I feel is
      second to none. I call it a
      <a href="/egfdatabase/evaluation">"Gun Fitting Evaluation"</a>
      . During the process of determining how well your gun fits you, we will not use a mirror or a carpenters framing square but will use
      a method that will let you know immediately if you are seeing the proper sight picture. You will not handed a piece of paper at the end with your needed dimension on it and
      send you on your way to find someone who can do the necessary work. Here at Elite Gun Fitting, any adjustments or alterations can be done in house, a one stop shop!
    </div>
  </section>


    <footer>
      <p>Arbie Web Design, Copyright &copy; 2019</p>
    </footer>
{% endblock %}