{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<style>
a:link {
  color: #e8491d;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #e8491d;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<link rel="shortcut icon" href="#" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Elite Gun Fitting and Stock Work</title>
<meta name="Description" content="Gun Fit and Shooting Style Assessment are just two pieces of the puzzle.">
<link rel="stylesheet" href="../../../static/login/index.css">
<div class="grid">
    <div class="title">
        <div class="main1"> Elite Gun Fitting</div>
        <div class="main2">and </div>
        <div class="main3">Stock Work </div>
        <div class="main4"> by Alan Braner</div>

    </div>
    <div class="article1">I have never met anyone who shoots a shotgun who didn't want to improve their shooting performance. There are some who put all of their focus on just one thing, gun fit.
    Don't get me wrong, gun fit is very important in our journey to reach our highest potential but it is only one piece of the puzzle!
    Here at Elite Gun Fitting, I will go over and explain the importance of every piece until you understand the whole picture. It doesn't matter what discipline you shoot, trap, five stand, sporting clays,
      FITASC, or upland game birds, all the pieces are the same. When you learn, understand, and master all the pieces, then you will have reached your highesst potential!</div>
    <div class="img"><img class="img" src='../../img/Desktop1.jpg'></div>
    <div class="article2">I have been in the gun stock business for 15 years. Over those years, I have developed a program to obtain the perfect gun fit that I feel is
      second to none. I call it a
      <a href="/egfdatabase/evaluation">"Gun Fitting Evaluation"</a>
      . During the process of determining how well your gun fits you, we will not use a mirror or a carpenter's framing square but will use
      a method that will let you know immediately if you are seeing the proper sight picture. You will not be handed a piece of paper at the end with your needed dimension on it and
      send you on your way to find someone who can do the necessary work. Here at Elite Gun Fitting, any adjustments or alterations can be done in house, a one stop shop!</div>
    <div class="footer">
        <p>Arbie Web Design, Copyright &copy; 2020</p>
    </div>
</div>




{% endblock %}
