{% extends 'home.html' %}
<h1>HVAC Bidding Program</h1>
{% block head %}
<title>EGF Bidding|Search Gun Info.</title>
{% endblock %}

{% block body %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../../../static/login/previouswo3.css">
<section id="workarea1">
    <section id="section1">
        <h1 id="formh1">Previous Work Orders & Proposals</h1>
        <div id="menu2">
            <div id="header1">
                <div id="A">Work Order</div>
                <div id="D">Proposal</div>
                <div id="F">Gun ID</div>
                <div id="B">Proposal Date</div>
                <div id="C">Work Summary</div>

            </div>
            <section id="sec1"></section>
            <section id="sec2"></section>
            <section id="sec3"></section>
            <section id="sec4"></section>
            <section id="sec5"></section>
            <section id="sec6"></section>
            <section id="sec7"></section>
            <section id="sec8"></section>
            <section id="sec9"></section>
            <section id="sec10"></section>
        </div>
        <section id="sectionA" >
            <form id="form1" method="post">
                {% csrf_token %}
                {% for obj in object_list %}
                <a id="workor" href="{{ obj.get_absolute8_url }}">{{ obj.workorderid }}</a>
                <a id="proposal" href="{{ obj.get_absolute18_url }}">{{ obj.workorderid }}</a>
                <div id="gunid">{{ obj.gunid }}</div>
                <div id="proposaldate">{{ obj.date }}</div>
                <div id="summary">{{ obj.proposaltype }}</div>
                {% endfor %}
            </form>

        </section>


        <hr>
    </section>
</section>
{% endblock %}
