{% extends 'home.html' %}
<h1>EGF Bidding Program</h1>
{% block head %}
<title>ECG Work Order Page</title>
{% endblock %}

{% block body %}
<body>
<link rel="stylesheet" href="../../../static/login/proposal15.css">
<a id="back"  href="{% url 'egfdatabase:guninfo' instance.gunid %}">Back Button</a>
<a id="pdf" class="btn btn-info" href="{% url 'egfdatabase:generate_view' instance.workorderid %}" target="_blank">View Invoice</a>
<a id="emailpdf" class="btn btn-info"  href="{% url 'egfdatabase:pdf_download' instance.workorderid  %}">Download</a>
<center id="page">
    <br>
    <form method="post" id="form2"
          shipping-url="{% url 'egfdatabase:shipping' instance.workorderid %}"
          jobcostshippinga-url="{% url 'egfdatabase:ajax_load_jobcostshipping' instance.workorderid %}"
          jobcostshipping-url="{% url 'egfdatabase:jobcostshipping' instance.workorderid %}"
          downpay-url="{% url 'egfdatabase:downpay' instance.workorderid %}"
          balance-url="{% url 'egfdatabase:balance' instance.workorderid %}"
          balancea-url="{% url 'egfdatabase:ajax_load_balance' instance.workorderid %}"
          checknum1-url="{% url 'egfdatabase:checknum1' instance.workorderid %}"
          checknum2-url="{% url 'egfdatabase:checknum2' instance.workorderid %}"
          downdate-url="{% url 'egfdatabase:downdate' instance.workorderid %}"
          finaldate-url="{% url 'egfdatabase:finaldate' instance.workorderid %}"
          finalpay-url="{% url 'egfdatabase:finalpay' instance.workorderid %}">
        <div id="header">
            <h5 id="formh2">Elite Gun Fitting</h5>
            {% csrf_token %}
            {{ form.name_of_field }}
            <div id="workorder">
            {{ form.workorder.errors }}
            <label id="label_workorder">Work Order ID</label>
            {{ form.workorder }}
            </div>
            <div id="workorderdate">
            {{ form.workorderdate.errors }}
            <label id="label_workorderdate">Work Order Date</label>
            {{ form.workorderdate }}
                <h6 id="phone" >815-955-2074</h6>
                <h6 id="name" >Alan Braner</h6>
                <h6 id="website" >www.egf.com</h6>
                <h6 id="email1" >elitegunfitting@gmail.com</h6>
            </div>
        </div>
        <div id="cust">
            {% for result in CustomerInfo %}
                <div id="id" >Cust ID:</div>
                <div id="custid" >
                    {{ result.id }}
                </div>
               <div id="first" >First Name:</div>
                <div id="custfirst" >
                    {{ result.custfirstname }}
                </div>
                <div id="last" >Last Name:</div>
                <div id="custlast" >
                    {{ result.custlastname }}
                </div>
                <div id="add" >Address:</div>
                <div id="custadd" >
                    {{ result.custadd1 }}
                </div>
                <div  id="city" >City:</div>
                <div id="custcity" >
                    {{ result.custcity }}
                </div>
                <div  id="state" >State:</div>
                <div id="custst" >
                    {{ result.custst }}
                </div>
                <div id="cell" >Cell Number:</div>
                <div id="custcell" >
                    {{ result.custcell1 }}
                </div>
                <div id="email" >Email:</div>
                <div id="custemail" >
                    {{ result.custemail1 }}
                </div>
            {% endfor %}
        </div>
    <div id="gun">
        {% for result in GunInfo %}
            <div id="gunidlabel" >Gun ID:</div>
            <div id="gunid" >
                {{ result.gunid }}
            </div>
            <div id="gunmanlabel" >Manufacturer:</div>
            <div id="gunman" >
                {{ result.gunmanufacturer }}
            </div>
            <div id="gunmodellabel" >Model:</div>
            <div id="gunmodel" >
                {{ result.gunmodel }}
            </div>
            <div id="gunseriallabel">Serial #:</div>
            <div id="gunserial" >
                {{ result.gunserialnumber }}
            </div>
            <div id="gungaugelabel">Gauge:</div>
            <div id="gungauge" >
                {{ result.gungauge }}
            </div>
        {% endfor %}
    </div>
        <div id="workorder1">
            <tr>
                <div id="matdescript" >Description</div>
                <div id="matlabor" >Labor</div>
                <div id="matretail" >Retail</div>
            </tr>
            {% for result in WorkOrderForm %}
            <div id=matcol>
            <div id="descriptwo" >
                {{ result.description }}
            </div>
            <div id="laborwo" >
                ${{ result.labor }}
            </div>
            <div id="retailwo" >
                ${{ result.retail }}
            </div>
        </div>
        {% endfor %}
    </div>
        <div class="fieldWrapper" id="col1">
            <h6 id="laborlabel">Labor</h6>
            <div id="labor">${{ labor.sum_labor }}</div>
            <h6 id="matlabel">Materials</h6>
            <div id="retail">${{ material.sum_retail }}</div>
            <h6 id="taxlabel">Sales Tax</h6>
            <div id="tax">${{ saletax|floatformat:2 }}</div>
            <h6 id="totalmatlabel">Total Material</h6>
            <div id="totalmat">${{ totalmat|floatformat:2  }}</div>
            <h6 id="totallaborlabel">Total Job Cost</h6>
            <div id="totaljobcost">${{ totaljobcost|floatformat:2  }}</div>
        </div>
        <div class="fieldWrapper" id="col2">

            <div id="shipping">
                <label id="label_shipping">Shipping</label>
                {{ form.shipping }}
            </div>


                <div id="label_jobcostshipping">Total Job Cost w/ Shipping</div>
                <div id="id_jobcostshipping">
                ${{ jobcostshipping|floatformat:2 }}
            </div>

            <div id="downpay">
                {{ form.downpay.errors }}
                <label id="label_downpay">Down payment</label>
                {{ form.downpay }}
            </div>

            <label id="label_balance">Balance</label>
            <div id="id_balance">
                ${{ balance|floatformat:2 }}
            </div>



            <div id="finalpay">
                {{ form.finalpay.errors }}
                <label id="label_finalpay">Final Payment</label>
                {{ form.finalpay }}
            </div>
            <div id="downpaydate">
                {{ form.downpaydate.errors }}
                <label id="label_downpaydate">Down Payment Date</label>
                {{ form.downpaydate }}
            </div>
            <div id="finalpaydate">
                {{ form.finalpaydate.errors }}
                <label id="label_finalpaydate">Final Payment Date</label>
                {{ form.finalpaydate}}
            </div>
            <div id="checknum1">
                {{ form.checknum1.errors }}
                <label id="label_checknum1">Check Number</label>
                {{ form.checknum1 }}
            </div>
            <div id="checknum2">
                {{ form.checknum2.errors }}
                <label id="label_checknum2">Check Number</label>
                {{ form.checknum2 }}
            </div>
            <div id="notes">
                {{ form.notes.errors }}
                {{ form.notes }}
            </div>
        </div>
    </form>
</center>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

////////////////// Shipping //////////////////////////////////////

function ShippingFunction() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_shipping');
        var userInput =selectBox.value;

            console.log(userInput);
            var url = $("#form2").attr("shipping-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_shipping: $('#id_shipping').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}


const Shipping1 = document.getElementById("id_shipping");
Shipping1.addEventListener("blur",function(){
    setTimeout(function(){
       var url = $("#form2").attr("jobcostshippinga-url");
                    $.ajax({
                        url: url,
                        data:{
                         },
                         success: function (data) {
                           $("#id_jobcostshipping").html(data);
                         }
                    });
    }, 500);
});

////////////////// Down Payment //////////////////////////////////////

function DownPayFunction() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_downpay');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("downpay-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_downpay: $('#id_downpay').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}

const Balance1 = document.getElementById("id_downpay");
Balance1.addEventListener("blur",function(){
    setTimeout(function(){
       var url = $("#form2").attr("balancea-url");
                    $.ajax({
                       url: url,
                        data:{
                         },
                        success: function (data) {
                           $("#id_balance").html(data);
                         }
                    });
    }, 400);
});



////////////////// Balance //////////////////////////////////////


function BalanceFunction() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_downpay');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("balance-url");
                   $.ajax({
                        type:'POST',
                      url: url,
                       data:{
                            id_downpay: $('#id_downpay').val(),
                           csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 400);
}



////////////////// Check Number 1 //////////////////////////////////////

function CheckNum1Function() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_checknum1');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("checknum1-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_checknum1: $('#id_checknum1').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}

////////////////// Check Number 2 //////////////////////////////////////

function CheckNum2Function() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_checknum2');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("checknum2-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_checknum2: $('#id_checknum2').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}

////////////////// Down Payment Date //////////////////////////////////////

function DownPayDateFunction() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_downpaydate');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("downdate-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_downpaydate: $('#id_downpaydate').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}


////////////////// Final Payment Date //////////////////////////////////////

function FinalPayDateFunction() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_finalpaydate');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("finaldate-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_finalpaydate: $('#id_finalpaydate').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}

////////////////// Final Payment //////////////////////////////////////

function FinalPayFunction() {
    setTimeout(function(){
        var selectBox =document.getElementById('id_finalpay');
        var userInput =selectBox.value;
            console.log(userInput);
            var url = $("#form2").attr("finalpay-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            id_finalpay: $('#id_finalpay').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    }, 0);
}

</script>
{% endblock %}
