{% extends 'base2.html' %}
{% block head %}
<title>HVAC Bidding| About Us</title>
{% endblock %}
<title>Gunfitting Services</title>
<meta name="Description" content="Gun Stock Adjustment, Repair, Refinish; Gun Mount Evaluations">
{% block body %}

<link rel="stylesheet" href="../../../static/login/services.css">
    <section id="main">
        <div id="title">Services and Pricing</div>
        <section id="pricing">
        <div id="service1">*  Gun Fitting Evaluation</div>
        <div id="service1A">Price for one gun. $550.00</div>
        <div id="service2">(Only one person at a time.)</div>
        <div id="service2A">$100.00 for each additional gun</div>
        <div id="service3">*  Check Gun Fit in Shop</div>
        <div id="service3A">Price for one gun. $250.00</div>
        <div id="service4">*  4-Way Adjustable Comb</div>
        <div id="service4A">$280.00</div>
        <div id="service5">* Greco Adjustable Pad Plate</div>
        <div id="service5A">$190.00</div>
        <div id="service6">*  Greco Adjustable Butt Plate</div>
        <div id="service6A">$240.00</div>
        <div id="service7">*  Grecoil Standard Recoil Reducer</div>
        <div id="service7A">$365.00</div>
        <div id="service8">*  Grecoil Adjustable Length of Pull</div>
        <div id="service8A">$451.00</div>
        <div id="service9">* KICK-EEZ Dual Action Recoil Pad</div>
        <div id="service9A">$130.00</div>
        <div id="service10">*  Refinish Stock</div>
        <div id="service10A">$650.00</div>
        <div id="service11">*  Recheckering</div>
        <div id="service11A">Call for pricing.</div>
        <div id="service12">*  Stock Repair</div>
        <div id="service12A">Price Based On Repair Needed.</div>
        </section>
        <div id="service13">* Call for pricing for any other stock work you may required.</div>
    </section>
    <footer>
      <p>Arbie Web Design, Copyright &copy; 2020</p>
    </footer>
{% endblock %}
