<!DOCTYPE html>
<html>
  <head>
      <link rel="shortcut icon" href="#" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
      <meta name="author" content="Brad Traversy">
      <title>ECF | Welcome</title>
      <link rel="stylesheet" href="../../static/login/styles7.css">
  </head>
  <body>
    <header>
      <div class="container">

        <nav>
              <a href="/egfdatabase/index">
                <button type="button" class="btn btn1">Home</button>
              </a>
              <a href="/egfdatabase/about">
                <button type="button" class="btn btn1">About</button>
              </a>
              <a href="/egfdatabase/evaluation">
                <button type="button" class="btn btn1">Gun Fitting Evaluation</button>
              </a>
              <a href="/egfdatabase/services">
                <button type="button" class="btn btn1">Services and Pricing</button>
              </a>
              <a href="/egfdatabase/contact">
                <button type="button" class="btn btn1">Contact Us</button>
              </a>
        </nav>

      </div>
    </header>
        {% block body %}
        {% endblock %}
    </body>
</html>