<!DOCTYPE html>
<html>
  <head>
      <link rel="shortcut icon" href="#" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>ECF | Welcome</title>
      <link rel="stylesheet" href="../../static/login/base2.css">
  </head>
  <body>
    <header>
      <div class="container">

        <nav>
              <a href="/egfdatabase/index">
                <button type="button" class="btn btn1">Home</button>
              </a>
              <a href="/egfdatabase/about">
                <button type="button" class="btn btn1">About</button>
              </a>
              <a href="/egfdatabase/evaluation">
                <button type="button" class="btn btn1">Gun Fitting</button>
              </a>
              <a href="/egfdatabase/services">
                <button type="button" class="btn btn1">Services</button>
              </a>
              <a href="/egfdatabase/contact">
                <button type="button" class="btn btn1">Contact Us</button>
              </a>
        </nav>

      </div>
    </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
