/* Global */
body{
  font: 16px/1.0 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#35424a;
}


/* Work Area */

section#workarea1{
    width:100%;
    margin:auto;


}

#text{
    margin-left:auto;

}

/* Section 1 */

#section1{
    width:850px;
    height:670px;
    background:#a9a9a9;
    border:#e8491d 3px solid;

    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
}

/* Form 1 */

form#form1{
    width: 840px;
    height:546px;
    background:#a9a9a9;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
     font-weight:bold;

}

#formh1{
    margin-top:3px;
    margin-left: 70px;
    margin-right: auto;
    width: 700px;
    text-align:center;
    font-weight:900;
}

a#id{
    color:blue;
    width:30px;
    margin-right:2px;
    display: inline-block;
    text-align: right;
}

div.pagination{
    width:840px;
    text-align: center;
    margin-bottom:7px;
    color:#e8491d ;
    font-weight:bold;
}



hr{
    width:845px;
    margin-top:3px;
    margin-bottom:10px;
    border-color:#e8491d;
    border-width:3px;
}

#search{
    width: 400px;
    margin-left:173px;
}

#searchbutton{
    height:38px;
    width:107px;

}

/* Media Queries */
@media(min-width: 768px) and (max-width: 768px){
section#workarea1{
    width: 768px;
    height:600px;
}
#section2{
    width:765px;
}
input#id_custcompanytname {
    width:525px;
}
body{
  font: 14px/1.5 Arial, Helvetica,sans-serif;
}
#section2{
    height:500px;
}
form#form2{
    width: 750px;
    height:470px;
}
label{
    width:120px;
}
h1#formh2{
    width: 760px;

}
input#id_custst {
    margin-right:100px;
}
input#id_custwork2_0 {
   width:143px;
}
input#id_custcell2_0 {
    width:143px;
}
#btn1{
    margin-left: 139px;
    margin-top:20px;
    width: 525px;
    height: 50px;

}
}
@media(min-width: 1024px) and (max-width: 1024px){
section#workarea1{
    width: 768px;
    height:400px;
    margin-left:90px;
}
#section1{
    width:850px;
    height:550px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}
input#id_custcompanytname {
    width:525px;
}
body{
  font: 14px/1.5 Arial, Helvetica,sans-serif;
}

label{
    width:120px;
}

input#id_custst {
    margin-right:100px;
}
input#id_custwork2_0 {
   width:143px;
}
input#id_custcell2_0 {
    width:143px;
}
#btn1{
    margin-left: 139px;
    margin-top:20px;
    width: 525px;
    height: 50px;

}
hr{
    width:845px;
    margin-top:0px;
    border-color:#e8491d;
    border-width:3px;
}
form#form1{
    width: 840px;
    height:450px;
    background:#a9a9a9;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
     font-weight:bold;

}

}
@media(min-width: 1280px) and (max-width: 1280px){
section#workarea1{
    width: 1280px;
    height:640px;

}

form#form1{
    width: 840px;
    height:500px;
    background:#a9a9a9;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
     font-weight:bold;

}
#section1{
    height:600px;
    margin-top: 10px;
}

}
 @media(min-width: 1440px) and (max-width: 1440px){
#section2{
    margin-left:300px;
}

}