/* Global */
body{
  font: 18px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#35424a;

}


/* Work Area */

section#workarea1{
    width: 1903px;
    height:750px;
    display:inline-block;

}
span.phone-field-ext{
    display:none;
}

section#sec1, section#sec3, section#sec5, section#sec7, section#sec9, section#sec11, section#sec13{
    width:1268px;
    height:40px;
    background:#9A8D85;
}

section#sec2, section#sec4, section#sec6, section#sec8, section#sec10, section#sec12, section#sec14{
    width:1268px;
    height:40px;
    background:#a9a9a9;
}

input#id_idA {
    width:60px;
    margin-right:379px;
    padding-left:8px;
    -moz-appearance: textfield;
}

input#id_custcompanytname {
    width:596px;
    padding-left:8px;
}

input#id_custfirstname {
    margin-right:21px;
    padding-left:8px;
}

input#id_custlastname {
    width:197px;
    padding-left:8px;
}

input#id_custadd1 {
    margin-right:21px;
    padding-left:8px;
}

input#id_custadd1 {
    padding-left:8px;
}

input#id_custcity {
    margin-right:21px;
    padding-left:8px;
}

input#id_custst {
    padding-left:10px;
    width:50px;
    margin-right:100px;
}

input#id_custzipcode {
    width:141px;
    margin-right:82px;
    padding-left:8px;
}

input#id_custwork1_1{
    display:none;
}

input#id_custwork2_1 {
   display:none;
}

input#id_custcell1_1 {
    display:none;
}
input#id_custcell2_1 {
    display:none;
}
input#id_custhome_1 {
    display:none;
}

input#id_custwork1_0{
    width:141px;
    padding-left:8px;
}

input#id_custwork2_0{
    margin-right:77px;
    padding-left:8px;
}

input#id_custcell1_0{
    padding-left:8px;
}

input#id_custcell2_0{
    margin-right:77px;
    padding-left:8px;
}

input#id_custhome_0 {
    padding-left:8px;
}

input#id_custemail1{
    width:596px;
}

input#id_custemail2{
    width:596px;
}


label{
    width:150px;
    text-align:right;
    padding-right:3px;
    margin:10px;
    color:#000000;

}



#btn1{
    margin-left: 170px;
    margin-top:20px;
    width: 596px;
    height: 50px;

}

#search{
    width: 400px;
    margin-left:173px;
}

#searchbutton{
    height:38px;
    width:107px;

}

/* Section 2 */

form#form2{
    width: 770px;
    height:520px;
    background:#a9a9a9;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 20px;
     font-weight:bold;

}

h1#formh2{
    width: 843px;
    background:#a9a9a9;
     font-weight:bold;
     text-align:center;
     margin-top;45px;
}

#section2{
    width:850px;
    height:670px;
    background:#a9a9a9;
     border:#e8491d 3px solid;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;

}

/* Media Queries */

@media(min-width: 768px) and (max-width: 768px){
section#workarea1{
    width: 768px;
    height:600px;
}
#section2{
    width:765px;
}
input#id_custcompanytname {
    width:525px;
}
body{
  font: 14px/1.5 Arial, Helvetica,sans-serif;
}
#section2{
    height:500px;
}
form#form2{
    width: 750px;
    height:470px;
}
label{
    width:120px;
}
h1#formh2{
    width: 760px;

}
input#id_custst {
    margin-right:100px;
}
input#id_custwork2_0 {
   width:143px;
}
input#id_custcell2_0 {
    width:143px;
}
#btn1{
    margin-left: 139px;
    margin-top:20px;
    width: 525px;
    height: 50px;

}
}
@media(min-width: 1024px) and (max-width: 1024px){
section#workarea1{
    width: 768px;
    height:600px;
    margin-left:90px;
}
form#form2{
    width: 770px;
    height:470px;
    margin-left:35px;

     }
#section2{
    height:500px;
}
input#id_custcompanytname {
    width:525px;
}
body{
  font: 14px/1.5 Arial, Helvetica,sans-serif;
}
form#form2{
    width: 750px;
}
label{
    width:120px;
}
h1#formh2{
    width: 760px;

}
input#id_custst {
    margin-right:100px;
}
input#id_custwork2_0 {
   width:143px;
}
input#id_custcell2_0 {
    width:143px;
}
#btn1{
    margin-left: 139px;
    margin-top:20px;
    width: 525px;
    height: 50px;

}
}
@media(min-width: 1280px) and (max-width: 1280px){
section#workarea1{
    width: 1280px;
    height:640px;

}
#section2{
    width:850px;
    height:570px;
    background:#a9a9a9;
    margin-top: 10px;


}


}
 @media(min-width: 1440px) and (max-width: 1440px){
#section2{
    margin-left:300px;
}

}


