/* Global */
body{
  font: 18px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#35424a;

}
/* Work Area */

h1#formh2{
    text-align:center;
    margin-top:19px;
    margin-bottom:15px;
    color:#e8491d;
    font-size: 45px;
    font-weight:bold;
}

h1#formh3{
    text-align:center;
    margin-top:0px;
    margin-bottom:15px;
    color:#e8491d;
    font-size: 25px;
    font-weight:bold;
}

#col1.fieldWrapper{
    height:100px;
    width:1150px;
    margin-left:333px;
    margin-top:0px;
}

section#workarea1{
    width: 1903px;
    height:450px;
    margin-top:130px;
    display:inline-block;
}

span.phone-field-ext{
    display:none;
}

div#cust_id{
    width:100px;
    height:100px;
    margin-left:33px;
}

input#id_id {
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_id[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

#label_id{
    width:100px;
    text-align:center;
    color:#e8491d;
    padding-bottom:10px;
}

div#id{
    width:100px;
    height:100px;
    margin-left:32px;
    margin-top:-100px;
}

input#id_gunid{
    width:50px;
    text-align:center;
    margin-left:184px;
    background-color: #a9a9a9;
    border: none;
    -moz-appearance: textfield;
}

label#label_gunid{
    margin-left:159px;
    padding-bottom:10px;
}

div#gunid{
    width:100px;
    height:100px;
    margin-left:-46px;
    margin-top:-100px;
}

#label_gunid{
    width:100px;
    text-align:center;
    color:#e8491d;
    padding-bottom:10px;
}

div#gunman{
    width:200px;
    height:100px;
    margin-left:222px;
    margin-top:-100px;
}

label#label_gunmanufacturer{
    margin-left:20px;
    padding-bottom:10px;
}


input#id_gunmanufacturer {
    background-color: #a9a9a9;
    border: none;
    text-align:center;
}

div#gunmodel{
    width:200px;
    height:100px;
    margin-left:285px;
    margin-top:-100px;
}

input#id_gunmodel{
    background-color: #a9a9a9;
    border: none;
    text-align:center;
}

label#label_gunmodel{
    margin-left:47px;
    padding-bottom:10px;
}

div#gunmodel{
    width:200px;
    height:100px;
    margin-left:285px;
    margin-top:-100px;
}

div#gunmodel{
    width:200px;
    height:100px;
    margin-left:447px;
    margin-top:-100px;
}

input#id_gunserialnumber{
    background-color: #a9a9a9;
    border: none;
    text-align:center;
}

label#label_gunserialnumber{
    margin-left:37px;
    padding-bottom:10px;
}

div#gunnum{
    width:200px;
    height:100px;
    margin-left:674px;
    margin-top:-100px;
}

input#id_gungauge{
    background-color: #a9a9a9;
    border: none;
    text-align:center;
}

label#label_gungauge{
    margin-left:65px;
    padding-bottom:10px;
}

div#gungauge{
    width:200px;
    height:100px;
    margin-left:900px;
    margin-top:-100px;
}

#col2.fieldWrapper{
    height:75px;
    width:1650px;
   margin-left:300px;
   margin-bottom:37px;

}

div#hand{
    width:100px;
    height:100px;
}

input#id_hand {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_hand[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_hand{
    margin-left:27px;
    padding-bottom:10px;
}

div#lop{
    width:100px;
    height:100px;
    margin-left:125px;
    margin-top:-100px;
}

input#id_lop {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_lop[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_lop{
    margin-left:30px;
    padding-bottom:10px;
}

div#comb{
    width:100px;
    height:100px;
    margin-left:250px;
    margin-top:-100px;
}

input#id_comb {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_comb[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_comb{
    margin-left:23px;
    padding-bottom:10px;
}

div#face{
    width:100px;
    height:100px;
    margin-left:378px;
    margin-top:-100px;
}

input#id_face {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_face[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_face{
    margin-left:27px;
    padding-bottom:10px;
}

div#heel{
    width:100px;
    height:100px;
    margin-left:505px;
    margin-top:-100px;
}

input#id_heel {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_heel[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_heel{
    margin-left:27px;
    padding-bottom:10px;
}

div#montecarlo{
    width:150px;
    height:100px;
    margin-left:633px;
    margin-top:-100px;
}

input#id_montecarlo {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_montecarlo[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_montecarlo{
    margin-left:0px;
    padding-bottom:10px;
}

div#cast{
    width:100px;
    height:100px;
    margin-left:763px;
    margin-top:-100px;
}

input#id_cast {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_cast[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_cast{
    margin-left:27px;
    padding-bottom:10px;
}

div#toe{
    width:100px;
    height:100px;
    margin-left:890px;
    margin-top:-100px;
}

input#id_toe {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_toe[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_toe{
    margin-left:27px;
    padding-bottom:10px;
}

div#trigger{
    width:100px;
    height:100px;
    margin-left:1017px;
    margin-top:-100px;
}

input#id_trigger {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_trigger[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_trigger{
    margin-left:17px;
    padding-bottom:10px;
}

div#pitch{
    width:100px;
    height:100px;
    margin-left:1147px;
    margin-top:-100px;
}

input#id_pitch {
    width:100px;
    background-color: #a9a9a9;
    border: none;
    pointer-events: none;
}

input#id_pitch[type="number"]{
    -moz-appearance:textfield;
    width:50px;
    text-align:center;
    margin-left:20px;
}

label#label_pitch{
    margin-left:24px;
    padding-bottom:10px;
}

#btn8{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #28a745;
    width: 290px;
    height: 50px;
    font-size: 25px;
    color: #000000;
    font-family: "calibri";
    cursor: pointer;
    transition: 0.6s;
   text-align: center;
   font-weight:bold;
    overflow: hidden;
    padding:3px 5px;
    display: inline-block;

}

#btn8{
    color: #000000;
}

#btn8:hover{
    color: #35424a;
    background: green;
}

li{
    width:290px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
}

#button{
    height:50px;
    width:1903px:
    display: inline-block;
}


#btn1{
    height:50px;
    width:250px;
    margin-left:810px;
    margin-bottom:15px;
    margin-top:0px;
}

a.btn.btn1:hover{
    color: #35424a;
    background: #e8491d;
}


#btn2{
    height:50px;
    width:250px;
    margin-left:810px;
    margin-right:auto;
    margin-top:0px;
    display: inline-block;
}


a.btn.btn9{
    border: 2px solid #e8491d;
    border-radius: 2px;
    background: #ffc107;
    width: 250px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    margin-left:810px;
    margin-bottom:10px;
    transition: 0.3s;
    text-align: center;
    overflow: hidden;



}
a.btn.btn9{
    color: #000000;
}

a.btn.btn9:hover{
    color: #35424a;
    background: #ff8f07;
}

a.btn.btn10{
    border: 2px solid #e8491d;
    border-radius: 2px;
    background: #007bff;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    margin-right: 20px;
    margin-left:810px;
    margin-bottom:10px;
    transition: 0.3s;
    text-align: center;
    overflow: hidden;
    padding-top: 9px;



}
a.btn.btn10{
    color: #000000;
}

a.btn.btn10:hover{
    color: #35424a;
    background: #0044ff;
}

a.btn.btn3{
    border: 2px solid #e8491d;
    border-radius: 2px;
    background: #17a2b8;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    margin-right: 20px;
    margin-left:810px;
    margin-bottom:10px;
    transition: 0.3s;
    text-align: center;
    overflow: hidden;
    padding-top: 9px;



}
a.btn.btn3{
    color: #000000;
}

a.btn.btn3:hover{
    color: #35424a;
    background: #148ea1;
}