#main{
  min-height:800px;
  background:#35424a;
  text-align:center;
  color:#e8491d;
}

#alan1 {
  width:220px;
  margin-left:auto;
  margin-right:auto;
  }

 #alan2 {
  width:220px;
  margin-left:20px;
  }
#p{
    padding-left:10px;

}
div#title{
    font-size:50px;
    font-style: italic;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px black;
    padding-top:15px;
}

section#pricing{
    margin-top:20px;
}

div#service1{
    width:325px;
    height:30px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service1A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -30px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service2{
    width:264px;
    margin-left:599px;
    margin-right:0px;
    margin-top:-6px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}


div#service2A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -28px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service3{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service3A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}


div#service4{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service4A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service5{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service5A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service6{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service6A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service7{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service7A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service8{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service8A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service9{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service9A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service10{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service10A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service11{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service11A{
    width:454px;
    margin-left:auto;
    margin-right:362px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service12{
    width:325px;
    margin-left:574px;
    margin-right:0px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}

div#service12A{
    width:300px;
    margin-left:auto;
    margin-right:520px;
    margin-top: -39px;
    text-align: left;
    padding: 0px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float: right;
}

div#service13{
    width:825px;
    margin-left:645px;
    margin-right:0px;
    margin-top:25px;
    text-align: left;
    padding: 10px;
    color: #C0C0C0;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
}