body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;

}

/* Global */
.container{
    width:100%;

}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:0px;
  height:100px;
  border-bottom:#e8491d 3px solid;

}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
  margin-top: 25px;
}

header #branding h1{
  margin:0;
}

ul{
    width:600;
    margin:0;
}



/* user name/password */
form#login{
    width:350px;
    margin-left:1441px;
    margin-top:-50px;
}

input#id_password{
margin-left: 3px;

}

input#id_username{
margin-left:0px;
margin-bottom:3px;
}

label{

    margin:auto;
    color:#e8491d;
    font-family: "Arial";
    font-weight:bold;
    text-align:right;

}

.btn10{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #C0C0C0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    font-family: "Arial";
    font-weight:bold;
    cursor: pointer;
    margin-top: 3px;

    margin-bottom: 3px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;

}
.btn10{
    color: #000000;
}

.btn10:hover{
    color: #35424a;
    background: #e8491d;
}

p{
margin:0;
height:auto;
}




header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

nav{
    margin-right:0px;
    margin-left:470px;
    width:927px;

}


.btn1{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #C0C0C0;
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    font-family: "Arial";
    font-weight:bold;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;

}
.btn1{
    color: #000000;
}

.btn1:hover{
    color: #35424a;
    background: #e8491d;
}





@media screen and (max-width:375px){

label{
    color:blue;
}

header{
    width:375px;

}


.container{
    width:375px;
}

nav{
  height:100px;
  width: 374px;
  margin-left:0px;
}

.btn1{
    width: 57px;
    height: 20px;
    font-size: 7px;
    margin-top: 39px;
    margin-left: 14px;
    margin-right: -3px;
}

form#login{
    display:none;
}

.btn10{
    width: 80px;
    height: 20px;
    font-size: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
}


}


@media screen and (max-width:566px) and (min-width:376px){

label{
    color:violet;
}

div#title{
    font-size:30px;
}

h1#main1{
    color:violet;
}

nav{
    margin-left:auto;
    margin-right:auto;
    width: 373px;
}
.btn1{
    width: 65px;
    height: 30px;
    font-size: 8px;
    margin-left: 0px;
    margin-right: 5px;
}

}


@media screen and (max-width:680px) and (min-width:567px){

header{
  background:#35424a;
  color:#ffffff;
  padding-top:0px;
  height:100px;
  width: 812px;
  border-bottom:#e8491d 3px solid;
}

nav{

  height:100px;
  width: 812px;
  margin-left:0px;
}

.btn1{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #C0C0C0;
    width: 130px;
    height: 30px;
    font-size: 12px;
    color: black;
    font-family: "Arial";
    font-weight:bold;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 19px;
    margin-right: 8px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;

}
.btn1{
    color: #000000;
}

.btn1:hover{
    color: #35424a;
    background: #e8491d;
}


.container{
    width:812px;
    height:100px;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

}

@media screen and (max-width:810px) and (min-width:681px){


header{
    width:810px;
}

.container{
    width:768px;
}

nav{

  height:100px;
  width: 753px;
  margin-left:30px;
}

.btn1{
    width: 78px;
    height: 30px;
    font-size: 9px;
    margin-top: 38px;
    margin-left: 15px;
    margin-right: 4px;
}

form#login{
    width:257px;
    margin-left:553px;
    margin-top:-86px;
}

.btn10{
    width: 80px;
    height: 20px;
    font-size: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
}

}


@media screen and (max-width:1080px) and (min-width:811px){

header{
    width:1024px;
}

nav{
    margin-right:0px;
    margin-left:28px;
    width:927px;
}

form#login{
    width:350px;
    margin-left:774px;
    margin-top:-50px;
}

.btn1{
    width: 112px;
    height: 30px;
}


}

@media screen and (max-width:1366px) and (min-width:1081px){


form#login{
    width:269px;
    margin-left:989px;
    margin-top:-62px;
}

nav{
    margin-right:0px;
    margin-left:93px;
    width:1168px;
}

.btn1{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #C0C0C0;
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: black;
    font-family: "Arial";
    font-weight:bold;
    cursor: pointer;
    margin-top: 35px;
    margin-left: -2px;
    margin-right: 13px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
}

.btn10{
    width: 80px;
    height: 20px;
    font-size: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
}
}
